# GitHub actions are pinned to commit hashes to ensure stability and security.

name: Release
on:
  push:
    tags:
      - v*

jobs:
  PyPIBuild:
    if: ${{ github.repository == 'resurfemg-org/resurfemg' }}
    name: Tagged Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Python 3.12
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: 3.12
      - run: python3.12 -m venv .venv
      - run: .venv/bin/python -m pip install build wheel twine
      - run: .venv/bin/python -m build
      # - run: .venv/bin/python setup.py bdist_egg
      - run: >-
          TWINE_USERNAME=__token__
          TWINE_PASSWORD=${{ secrets.PYPI_TOKEN }}
          .venv/bin/python -m twine upload --skip-existing ./dist/*.whl
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: pypi-build
          path: dist/*

  PublishArtifacts:
    runs-on: ubuntu-latest
    needs: [PyPIBuild]
    steps:
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093
        with:
          path: dist
      - uses: marvinpinto/action-automatic-releases@d68defdd11f9dcc7f52f35c1b7c236ee7513bcc1
        with:
          repo_token: "${{ secrets.GITHUBTOKEN }}"
          prerelease: false
          files: |
            ./dist/*/linux-64/resurfemg-*.tar.bz2
            ./dist/*/osx-64/resurfemg-*.tar.bz2
            ./dist/*/win-64/resurfemg-*.tar.bz2
            ./dist/pypi-build/*.whl
